.header_h1 {
  color: mediumslateblue;
  font-family: "Permanent Marker", cursive;
  font-style: bold;
}
.home_article {
  background-color: lightgray;
  padding: 10px;
}

.primary-nav {
  display: -webkit-flex;
  display: flex;
  padding: 0.2cm;
  text-transform: uppercase;
  margin-left: 5px;
  justify-content: space-between;
  justify-items: left;
  background-color: plum;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.primary-nav :hover {
  background-color: silver;
}

.primary-nav {
  font-family: "Caveat", cursive;
  font-style: italic;
}
.CenterMe {
  background-color: slategray;
  font-size: 2rem;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_article {
  font-family: "Caveat", cursive;
  font-style: regular;
}
.footer {
  font-family: "Caveat", cursive;
  font-style: regular;
}
